# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/
ENV/
env/

# UV
uv.lock

# Testing
.pytest_cache/
.coverage
htmlcov/
tests/test_outputs/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store


# HPC outputs
*.out
*.err

# Postprocessing outputs
_exp_mlcache

Plots/
